$cit-red: #d22121;
$cit-light-blue: #85beff;
$cit-blue: #1660be;
$cit-dark-blue: #1c59a7;
$cit-lighter-gray: #eee;
$cit-light-gray: #ddd;
$cit-gray: #bbb;
$cit-dark-gray: #666;
$cit-white: #fff;
$cit-white-gray: #f8f8f8;
$cit-transparent: transparent;
$cit-black: #333;
$cit-dark-black: #111;
