$cit-transition-default: 200ms ease;
$cit-transition-medium: 250ms ease;
$cit-transition-long: 400ms ease;
$cit-transition-short: 100ms ease;
$cit-breakpoint-small: 360px;
$cit-breakpoint-medium: 768px;
$cit-breakpoint-large: 1024px;
